<!DOCTYPE html> 
<head> 
	<title> Choose a phone </title>
</head>
<body>
	<form method="post">
		<p> Select a brand: </p>
		<input type="radio" name="company" id="apple">
		<label for="apple">Apple</label><br>
		<input type="radio" name="company" id="samsung">
		<label for="samsung">Samsung</label><br>
		<input type="radio" name="company" id="Lenovo">
		<label for="lenovo">Lenovo</label><br>
		<input type="radio" name="company" id="one_plus">
		<label for="one_plus">One Plus </label><br><br>
		<input type="checkbox" id="phone" name="phone" value="phone">
		<p> Select a device </p>
		<label for="phone"> Phone</label><br>
		<input type="checkbox" id="laptop" name="laptop" value="laptop">
		<label for="laptop"> Laptop</label><br>
		<br>
		<button type="submit">Produce Bill </button>
	</form>
</body>

